body {
    font-family: 'Arial', sans-serif;
    background-color: #001f47; /* Bleu foncé PSG */
    color: #ffffff; /* Texte en blanc */
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* En-tête */
header {
    background-color: #0061c2; /* Bleu clair PSG */
    color: white;
    text-align: center;
    padding: 3em 0;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Section principale */
section {
    margin: 2em auto;
    padding: 2em;
    background-color: #ffffff; /* Fond blanc */
    color: #001f47; /* Texte bleu foncé PSG */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 900px;
}

/* Ajouter une image avec un titre et une description */
.img-container {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.img-container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e1002f; /* Rouge PSG */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.8em;
    margin-top: 1.5em;
}

/* Paragraphe */
p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    text-align: justify;
}

/* Boutons */
button {
    background-color: #e1002f; /* Rouge PSG */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 1em;
    text-transform: uppercase;
}

button:hover {
    background-color: #0061c2; /* Bleu clair PSG */
}

/* Pied de page */
footer {
    background-color: #001f47; /* Bleu foncé PSG */
    color: white;
    text-align: center;
    padding: 1.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Liens */
a {
    color: #0061c2; /* Bleu clair PSG */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #e1002f; /* Rouge PSG */
}

/* Mobile-friendly design */
@media (max-width: 768px) {
    header {
        padding: 2em 0;
        font-size: 2em;
    }

    section {
        margin: 1em;
        padding: 1.5em;
    }

    button {
        width: 100%;
    }

    .img-container img {
        max-width: 100%;
    }
